{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10">
                {% if pressed = profile %}
                    {{wtf.quick_form(form)}}
                {% elif pressed = pic %}
                
                {% else %}

                {% endif %}
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}