/* GENERAL CSS */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: url('../assets/repeat.jpg');
    opacity: .8;
    background-attachment: fixed;
    background-repeat: repeat;
}

h1, h2,h3,p{
    margin: 0;
    padding: 2px;
}





/* NAVIGATION */
.navy{
    background: #056b5b;
    font-family: monospace;
    font-size: 24px;
    color: white;
    height: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin-top:0;

}

ul{
    list-style: none;
    position: fixed;
    left: 0;
    width: 80%;
    height: 100%;
    background: black;
    overflow-x: hidden;
    display: none;
    z-index: 5;
}

ul#hidden li{
    display: none;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    -ms-transition: all 2s;
    transition: all 2s;
    
}

ul li{
    left: 0;
    text-decoration: none;
    text-align: left;
    margin-left: -40px;
    display: block;
    /* height: 2%; */
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 14px;
    padding-left: 2%;
}

#profile{
    background: #056b5b;
}

#profile img{
    height: 200px;
    width: 200px;
    /* margin-left: -75%; */
    border-radius: 100px;
}

#profile h3{
    /* margin-left: -75%; */
    color:white;
}

#profile h4{
    /* margin-left: -67%; */
    color: white;
}

ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
    width: 100%;
    
}

ul#hiddenAgenda li:hover{
    text-decoration: none;
    background: #056b5b;
    color: white;
    cursor: pointer;
}

ul li a:hover{
    text-decoration: none;
    color: white;
}
ul li a:used {
    text-decoration: none;
    color: white;
}

#menu:hover ul li{
    display: block;

}

i:hover {
    color: white;
}


#myAcc{
    border-bottom: white solid 1px;
}

.notes{
    position: absolute;
    right: 0;
    margin-right: 1.5%;
    background: white;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color:black;
}

.notes:hover{
    color: black;
}





/* FEEDS BLOCK */

.feed{
    padding-top:10px;
}
.blog{
    background: #056b5b;
    color: white;
    padding: 20px;
    border: 3px solid #056b5b;
    /* border-radius: 30px; */
    padding-left: -15px;
    padding-right: -15px;
    margin-top: 10px;
}

.blog a {
    color: white;

}

#bettyAsava{
    width: 250px;
    height: auto;
    /* border-radius: 10px; */
    padding-right: 2px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.title{
    background: white;
    color: black;
    font-family: 'Cabin Sketch', cursive;
    font-size: 18px;
    border-bottom: solid 3px white;
    padding-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
}
.title a{
    color: #056b5b;
    text-decoration: none;
    transition: all 1s;
}
.verified{
    height: 25px;
    width: 25px;
}

.share{
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    text-align: center;
}

.social a{
    text-decoration: none;
    text-align: center;
}

.social div {
    border-radius: 10%;
    text-align: center;
    padding: 5px;
    background-color:#056b5b;
    border: 2px solid white;
    border-width: thick;
}
.social div a{
    color: black;
    font-family: 'Pangolin',cursive;
    font-size: 18px;
}

#shock{
    height: 97px;
    width: 114px;
    border-radius: 50%;
}
.share img{
    height: 32px;
    width: 30px;
}
.share img:hover {
    transform: scale(1.5, 1.5);
    transition: .2s ease;

}
#trial{
    background: url("../assets/laugh.png");
    border-radius: 50px;
}

#trial:hover{
    background: url("../assets/shy.png");
    
    border-color: white;
    box-shadow: white;
    transform: scale(1.5,1.5);
    transition: .3s all;
}

/* DESCRIPTION AREA */
.description{
    /* padding-top: 1%; */
    opacity: .9;
    /* background: url('../assets/.jpg'); */
    background-repeat: repeat;
}



.extras{
    position: absolute;
    right: 0;
    margin-top: -6%;
    margin-right: 5%;
    padding: 10px;
}

.dim{
    background: url('../assets/repeat.jpg') ;
    opacity: .3;
}



/* THE LOADER GIF */   
#loader {
    position: absolute;
    right: 0;
    margin-right: 5%;
    margin-top: -2%;
    zoom: 1;
    /* Increase this for a bigger symbole*/
    display: block;
    width: 20px;
    height: 20px;
    /* margin: 20px auto; */
    animation: wait .80s steps(1, start) infinite;
    background: linear-gradient(0deg, #f4f5fa 1px, transparent 0, transparent 8px, #f4f5fa 8px), /* 6  */
    linear-gradient(90deg, #f4f5fa 1px, #f6f9fb 0, #f6f9fb 3px, #f4f5fa 3px), linear-gradient(0deg, #ececf5 1px, transparent 0, transparent 8px, #ececf5 8px), /* 5  */
    linear-gradient(90deg, #ececf5 1px, #f2f3f9 0, #f2f3f9 3px, #ececf5 3px), linear-gradient(0deg, #e7eaf4 1px, transparent 0, transparent 8px, #e7eaf4 8px), /* 4  */
    linear-gradient(90deg, #e7eaf4 1px, #eef1f8 0, #eef1f8 3px, #e7eaf4 3px), linear-gradient(0deg, #b9bedd 1px, transparent 0, transparent 10px, #b9bedd 10px), /* 3  */
    linear-gradient(90deg, #b9bedd 1px, #d0d5e8 0, #d0d5e8 3px, #b9bedd 3px), linear-gradient(0deg, #9fa6d2 1px, transparent 0, transparent 15px, #9fa6d2 15px), /* 2  */
    linear-gradient(90deg, #9fa6d2 1px, #c0c5e1 0, #c0c5e1 3px, #9fa6d2 3px), linear-gradient(0deg, #8490c6 1px, transparent 0, transparent 15px, #8490c6 15px), /* 1  */
    linear-gradient(90deg, #8490c6 1px, #aeb5da 0, #aeb5da 3px, #8490c6 3px);
    background-repeat: no-repeat;
    background-size: 4px 9px, /* 6 */
    4px 9px, 4px 9px, /* 5 */
    4px 9px, 4px 9px, /* 4 */
    4px 9px, 4px 11px, /* 3 */
    4px 11px, 4px 16px, /* 2 */
    4px 16px, 4px 16px, /* 1 */
    4px 16px;
    background-position: -4px 3px, -4px 3px, -4px 3px, -4px 3px, -4px 3px, -4px 3px, -4px 2px, -4px 2px, -4px 0, -4px 0, -4px 0, -4px 0;
}

@keyframes wait {
    12.5% {
        background-position: -4px, /* 6 */
        -4px, -4px, /* 5 */
        -4px, -4px, /* 4 */
        -4px, -4px, /* 3 */
        -4px, -4px, /* 2 */
        -4px, 0, /* 1 */
        0;
    }
    25% {
        background-position: -4px, /* 6 */
        -4px, -4px, /* 5 */
        -4px, -4px, /* 4 */
        -4px, -4px, /* 3 */
        -4px, 0, /* 2 */
        0, 6px, /* 1 */
        6px;
    }
    37.5% {
        background-position: -4px, /* 6 */
        -4px, -4px, /* 5 */
        -4px, -4px, /* 4 */
        -4px, 0, /* 3 */
        0, 6px, /* 2 */
        6px, 12px, /* 1 */
        12px;
    }
    50% {
        background-position: -4px, /* 6 */
        -4px, -4px, /* 5 */
        -4px, 0, /* 4 */
        0, 6px, /* 3 */
        6px, 12px, /* 2 */
        12px, -4px, /* 1 */
        -4px;
    }
    62.5% {
        background-position: -4px, /* 6 */
        -4px, 0, /* 5 */
        0, 6px, /* 4 */
        6px, 12px, /* 3 */
        12px, -4px, /* 2 */
        -4px, -4px, /* 1 */
        -4px;
    }
    75% {
        background-position: 0, /* 6 */
        0, 6px, /* 5 */
        6px, 12px, /* 4 */
        12px, -4px, /* 3 */
        -4px, -4px, /* 2 */
        -4px, -4px, /* 1 */
        -4px;
    }
    87.5% {
        background-position: 6px, /* 6 */
        6px, 12px, /* 5 */
        12px, -4px, /* 4 */
        -4px, -4px, /* 3 */
        -4px, -4px, /* 2 */
        -4px, -4px, /* 1 */
        -4px;
    }
    100% {
        background-position: 12px, /* 6 */
        12px, -4px, /* 5 */
        -4px, -4px, /* 4 */
        -4px, -4px, /* 3 */
        -4px, -4px, /* 2 */
        -4px, -4px, /* 1 */
        -4px;
    }
}