{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-10">
            <hr>
            <div class="row">
                {% if talents %}
                {{macro.displayVideos(talents)}}
                {% else %}
                <div class="card mb-3 col-md-3 ">
                    <div class="card-body">
                        <h5 class="card-title"> TALANTA </h5>
                    </div>
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
                    </iframe>
                    <div class="card-body">
                        <p class="card-text">
                            <strong> Adi Gaza Tremor </strong> <br>
                            5 Weeks ago
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}