{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block body %}

<body style="background-color:darkgrey;">
<div class="container" style="color:red">
    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-10">

            {% if music %}
            <hr>
            <h3> Music </h3>
            <div class="row">
                {{macro.displayVideos(music)}}
            </div>
            {% endif %}

            {% if creative %}
            <hr>
            <h3> Creativity </h3>
            <div class="row">
                {{macro.displayVideos(creative)}}
            </div>
            {% endif %}

            {% if art %}
            <hr>
            <h3> Art & Craft </h3>
            <div class="row">
                {{macro.displayVideos(art)}}
            </div>
            {% endif %}

            {% if sports %}
            <hr>
            <h3> Sports </h3>
            <div class="row">
                {{macro.displayVideos(sports)}}
            </div>
            {% endif %}


            {% if other %}
            <hr>
            <h3> Others </h3>
            <div class="row">
                {{macro.displayVideos(other)}}
            </div>
            {% endif %}

        </div>

        <div class="col-md-1"></div>
    </div>
</div>
</body>

{% endblock %}