{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-10">
            <hr>
            <div class="row">
                <div class="col-md-3">
                    No video loaded yet
                </div>
                <div class="col-md-3">
                    No video loaded yet
                </div>
                <div class="col-md-3">
                    No video loaded yet
                </div>
                <div class="col-md-3">
                    No video loaded yet
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}