{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <video src="{{ url_for('static',filename=video.talent_video_path) }}"></video>
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10">
                    <a href="#" class="list-group-item list-group-item-action active">
                            Comments
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            {{ wtf.quick_form(comment_form) }}
                        </a>   
                            {% if comments %}
                                {% for comment in comments %}  
                                    <a href="#" class="list-group-item list-group-item-action active">
                                        {% if current_user.is_authenticated %}
                                            {{ current_user.username }} : 
                                        {% else %}
                                            Anonymous :
                                        {% endif %}
                                        
                                        {{comment.comment}}
    
                                        {% if current_user.is_authenticated %}   
                                            <a href="{{url_for('.delete_comment',id = comment.id)}}" class="badge badge-danger badge-pill">
                                                Delete Comment
                                            </a>
                                            <hr>  
                                        {% endif %}
                                    </a>
                                {% endfor %}
    
                            {% else %}
                                <a href="#" class="list-group-item list-group-item-action">
                                    No comments .
                                </a>
                            {% endif %}
                    </div>
            </div>
            
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}